<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body style="  background-image:
linear-gradient(
  to right, 
  #6D214F,
  #6D214F 15%,
  #F8EFBA 15%,
  #F8EFBA 85%,
  #6D214F 85%
);}">

<div class="container">
  <h1><%= title %></h1>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="name">Auteur</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Nom Auteur" name="name" required >
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email Auteur" name="email" required>
    </div>
    <div class="form-group">
      <label for="phone">Citation</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Votre Citation" name="cita" required>
    </div>
    <button type="submit" class="btn " style= "background-color: #6D214F; color:#F8EFBA;font-weight: bold; margin-bottom: 4%;">Ajouter</button>
  </form>
</div>

</body>
</html>